@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
       url("../fonts/roboto-regular.ttf") format("truetype"),
       url("../fonts/roboto-regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto-bold";
  src: local("Roboto-Bold"),
       url("../fonts/roboto-bold.ttf") format("truetype"),
       url("../fonts/roboto-bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto-medium";
  src: local("Roboto-Medium"),
       url("../fonts/roboto-medium.ttf") format("truetype"),
       url("../fonts/roboto-medium.woff2") format("woff2");
  font-weight: 500;
}
/* подложка для проверки выхода за пределы модального окна и вызывающей его кнопки
обращать внимание на z-index!
js-only */
.leave-indicate {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: transparent;
  left: 0;
  top: 0;
  z-index: 1;
}
.visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  font-family: "Roboto-bold", "Arial", sans-serif;
  color: #fff;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: #849d8f;
}
a,
a:visited {
  font-family: "Roboto-medium", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
}
img {
  max-width: 100%;
}
.button {
  display: inline-block;

  text-align: center;
  vertical-align: middle;
  color: #fff;

  background-color: #e74a35;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background-image: -webkit-linear-gradient(bottom, #e74a35, #f26843);
  background-image: -o-linear-gradient(bottom, #e74a35, #f26843);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  border: 0;
  border-radius: 50px;
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);

  outline: none;
}
    .button:hover,
    .button:focus {
      background-color: #fff;
      background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(231, 74, 53, 0.8)), to(rgba(242, 104, 67, 0.8)));
      background-image: -webkit-linear-gradient(bottom, rgba(231, 74, 53, 0.8), rgba(242, 104, 67, 0.8));
      background-image: -o-linear-gradient(bottom, rgba(231, 74, 53, 0.8), rgba(242, 104, 67, 0.8));
      background-image: linear-gradient(to top, rgba(231, 74, 53, 0.8), rgba(242, 104, 67, 0.8));
      -webkit-box-shadow: 0 2px 2px #ac1000;
      box-shadow: 0 2px 2px #ac1000;

      cursor: pointer;
    }
    .button:active {
      background-color: #000;
      background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(231, 74, 53, 0.93)), to(rgba(242, 104, 67, 0.93)));
      background-image: -webkit-linear-gradient(bottom, rgba(231, 74, 53, 0.93), rgba(242, 104, 67, 0.93));
      background-image: -o-linear-gradient(bottom, rgba(231, 74, 53, 0.93), rgba(242, 104, 67, 0.93));
      background-image: linear-gradient(to top, rgba(231, 74, 53, 0.93), rgba(242, 104, 67, 0.93));
      -webkit-box-shadow: inset 0 2px 2px #ac1000;
      box-shadow: inset 0 2px 2px #ac1000;
    }
    .button:disabled {
      background-color: #fff;
      background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(231, 74, 53, 0.4)), to(rgba(242, 104, 67, 0.4)));
      background-image: -webkit-linear-gradient(bottom, rgba(231, 74, 53, 0.4), rgba(242, 104, 67, 0.4));
      background-image: -o-linear-gradient(bottom, rgba(231, 74, 53, 0.4), rgba(242, 104, 67, 0.4));
      background-image: linear-gradient(to top, rgba(231, 74, 53, 0.4), rgba(242, 104, 67, 0.4));
      -webkit-box-shadow: none;
      box-shadow: none;

      cursor: default;
    }
.main-header {
  position: relative;

  padding: 10px 27px 0 27px;
  margin-bottom: 8px;
}
    .main-header .menu-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
        .main-menu {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          max-width: 628px;
        }
            .main-menu ul {
              margin: 0;
              padding: 0;
              list-style: none;
            }
            .gllacy-logo {
              width: 154px;
              height: 64px;
              margin-right: 24px;

              -ms-flex-item-align: start;
              align-self: flex-start;
            }
            .site-menu {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -ms-flex-wrap: wrap;
              flex-wrap: wrap;
            }
                .site-menu-item {
                  position: relative;
                  padding-bottom: 2px;
                }
                    .site-menu-item > a,
                    .site-menu-item > a:visited {
                     font-size: 16px;
                     line-height: 18px;

                     outline: none;
                     padding: 7px 13px;
                     margin: 0 1px;
                     border-radius: 17px;
                    }
                    .site-menu-item > a:hover,
                    .site-menu-item > a:focus {
                      color: #000;

                      background-color: #f5f4f1;
                    }
                    .site-menu-item a:active {
                      color: #000;
                      background-color: rgba(247, 246, 243, 0.99);
                      -webkit-box-shadow: inset 0 2px 1px #696969;
                      box-shadow: inset 0 2px 1px #696969;
                    }
                    .site-menu-item a.active {
                      background-color: #d07058;
                      color: #fff;
                    }
                        .site-menu-item a::after {
                          position: absolute;
                          height: 1px;

                          content: "";

                          bottom: 0;
                          right: 15px;
                          left: 15px;
                          background-color: rgba(255, 255, 255, 0.2);
                        }
                        .site-menu-item a.active::after { /* убирает подчеркивание у активной ссылки */
                          display: none;
                        }
/* Выпадающее меню ----------------- */
                .drop-down-menu-wrap {
                  position: absolute;
                  left: -10px;
                  min-width: 143px;
                }
                    .site-menu .drop-down-menu {
                      position: relative;
                      display: block;
                      top: 10px;
                      left: 0;

                      /*min-width: 143px;*/
                      border-radius: 5px;
                      background-color: #f8f7f4;
                      padding: 2px 0;

                      z-index: 1;
                    }
                        .drop-down-menu .novelties{
                          position: relative;

                          font-family: "Roboto-bold", "Arial", sans-serif;
                          padding-bottom: 10px;
                        }
                            .drop-down-menu .novelties:hover {
                              padding-bottom: 10px;
                            }
                            .drop-down-menu .novelties::after {
                              content: "";
                              position: absolute;
                              width: 128px;
                              height: 1px;
                              bottom: -2px;
                              left: 7px;
                              margin-bottom: 2px;

                              border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                            }
                        .drop-down-menu a,
                        .drop-down-menu a:visited {
                          display: block;

                          font-family: "Roboto", "Arial", sans-serif;
                          font-size: 14px;
                          line-height: 16px;
                          color: #000;

                          padding: 8px 20px;
                          margin: 2px 0;
                        }
                            .drop-down-menu a:hover,
                            .drop-down-menu a:focus {
                              background-color: #fbded7;
                              color: #000;

                              padding: 8px 20px;
                            }
                            .drop-down-menu a:active {
                              background-color: #f6b5a5;
                              color: #000;
                            }
                            .drop-down-menu a.active {
                              background-color: #d07058;
                              color: #fff;
                            }
/* Кнопки вызова модальных окон */
        .user-interface {
          position: relative;

          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: end;
          -ms-flex-pack: end;
          justify-content: flex-end;

          max-width: 293px;
        }
            .link-icon-container {
              margin-right: 10px;
              padding-bottom: 5px;
              z-index: 2;
            }
                .link-icon-container:last-of-type {
                  margin-right: 0;
                }
                .user-interface .link-icon,
                .user-interface .link-icon:visited {
                  position: relative;
                  display: block;

                  font-family: "Roboto-medium", "Arial", sans-serif;
                  font-size: 14px;
                  line-height: 16px;
                  color: #fff;

                  padding: 7px 15px;
                  padding-left: 43px;
                  border-radius: 15px;
                  background-color: rgba(255, 255, 255, 0.2);
                  outline: none;
                }
                    .user-interface .link-icon:hover,
                    .user-interface .link-icon:focus {
                      color: #000;
                      background-color: #f8f7f4;
                    }
                .user-interface .search {
                  position: relative;

                  width: 32px;
                  height: 32px;
                  padding: 0;
                  margin-bottom: 5px;
                  border-radius: 50%;
                  background-image: url("../img/loop.svg");
                  background-position: center center;
                  background-repeat: no-repeat;
                }
                    .user-interface .search:hover,
                    .user-interface .search:focus {
                      background-image: url("../img/loop-hover.svg");
                    }
                .user-interface .shopping-cart.cart-filled {
                  color: #323232;
                  background-color: rgba(248, 247, 244, 0.99);
                }
                    .user-interface .log-in::before,
                    .user-interface .shopping-cart::before,
                    .user-interface .shopping-cart.cart-filled::before {
                      position: absolute;
                      top: 50%;
                      margin-top:-10px;
                      left: 16px;

                      content: "";
                      width: 21px;
                      height: 19px;

                      background-position: 0 0;
                      background-repeat: no-repeat;
                    }
                    .user-interface .log-in::before { background-image: url("../img/enter.svg"); }
                    .user-interface .shopping-cart::before { background-image: url("../img/cart.svg"); }
                    .user-interface .shopping-cart.cart-filled::before { background-image: url("../img/cart-hover.svg"); }

                        .user-interface .log-in:hover::before,
                        .user-interface .log-in:focus::before { background-image: url("../img/enter-hover.svg"); }

                        .user-interface .shopping-cart:hover::before,
                        .user-interface .shopping-cart:focus::before { background-image: url("../img/cart-hover.svg"); }

                        .user-interface .shopping-cart.cart-filled:hover::before,
                        .user-interface .shopping-cart.cart-filled:focus::before { background-image: url("../img/cart-filled.svg"); }

/* модальные окна из шапки: поиск, логин, корзина */
/* общие стили модальных окон */
.modal {
  font-family: "Roboto", "Arial", sans-serif;
  color: #323232;
  background-color: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}
    .modal :focus::-webkit-input-placeholder,
    .mailing-form :focus::-webkit-input-placeholder {color: transparent;}
    .modal :focus::-moz-placeholder,
    .mailing-form :focus::-moz-placeholder {color: transparent;}
    .modal :focus::-moz-placeholder,
    .mailing-form :focus::-moz-placeholder {color: transparent;}
    .modal :focus:-ms-input-placeholder,
    .mailing-form :focus:-ms-input-placeholder {color: transparent;}

    .modal input::-webkit-input-placeholder,
    .mailing-form input::-webkit-input-placeholder,
    .modal textarea::-webkit-input-placeholder {
      font-family: "Roboto", "Arial", sans-serif;
      font-size: 14px;
      line-height: 24px;
      color: #999999;
      font-weight: normal;
    }
    .modal input:-ms-input-placeholder,
    .mailing-form input:-ms-input-placeholder,
    .modal textarea:-ms-input-placeholder {
      font-family: "Roboto", "Arial", sans-serif;
      font-size: 14px;
      line-height: 24px;
      color: #999999;
      font-weight: normal;
    }
    .modal input::-moz-placeholder,
    .mailing-form input::-moz-placeholder,
    .modal textarea::-moz-placeholder {
      font-family: "Roboto", "Arial", sans-serif;
      font-size: 14px;
      line-height: 24px;
      color: #999999;
      font-weight: normal;
    }
    .modal input,
    .modal textarea,
    .mailing-form input {
      font-size: 14px;
      line-height: 24px;
      font-weight: bold;
      color: #323232;

      width: 100%;
      height: 44px; /* высота для IE */
      padding: 9px 14px;
      border: 1px solid #d3d3d2;
      border-radius: 5px;

      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
        .modal input:hover,
        .modal textarea:hover,
        .mailing-form input:hover {
          border: 1px solid rgba(154, 154, 154, 0.52);
          -webkit-box-shadow: 0 0 0 1px rgba(154, 154, 154, 0.52);
          box-shadow: 0 0 0 1px rgba(154, 154, 154, 0.52);
        }
        .modal textarea:focus,
        .modal input:focus,
        .mailing-form input:focus {
          border-color: rgba(46, 136, 228, 0.52);
          -webkit-box-shadow: 0 0 0 1px rgba(46, 136, 228, 0.52);
          box-shadow: 0 0 0 1px rgba(46, 136, 228, 0.52);
          outline: none;
        }
/* модалка - поиск ---------- */
.modal-search {
  position: absolute;
  top: 35px;
  left: 32px;

  width: 340px;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  padding: 20px 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  z-index: 2;
}
/* Модалка - логин ---------- */
.modal-log-in {
  position: absolute;
  top: 35px;
  left: -146px;

  width: 278px;
  padding: 20px 18px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  z-index:3;
}
    .modal-log-in input {
      margin-bottom: 20px;
    }
    .modal-log-in .button-submit {
      padding: 10px 25px;
      margin-right: 15px;
    }
    .log-in-links {
      display: inline-block;
      max-width: 120px;

      vertical-align: middle;
    }
        .log-in-links a,
        .log-in-links a:visited {
          font-size: 13px;
          line-height: 24px;
          color: #323232;
          border-bottom: 1px solid rgba(50, 50, 50, 0.3);
        }
            .log-in-links a:hover,
            .log-in-links a:focus,
            .log-in-links a:active {
              color: #e84d37;
              border-bottom: 1px solid rgba(232, 77, 55, 0.3);
            }
    .log-in-form .button-submit {
      font-family: "Roboto-bold", "Arial", sans-serif;
      font-size: 18px;
      line-height: 24px;
    }
/* модалка - заказ ------------- */
.modal-order {
  position: absolute;
  top: 35px;
  right: 0;
  width: 540px;

  font-size: 13px;
  line-height: 16px;
  color: #323232;
  text-align: right;

  padding: 20px 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  z-index: 4;
}
    .modal-order p {
      font: inherit;
      text-align: center;
      margin: 0;
    }
    .order-list {
      width: 510px;
      margin: 0;
      padding: 0;
      border-bottom: 1px solid #cacac7;

      text-align: left;
      list-style: none;
    }
        .order-list-item {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;

          width: 100%;
          margin-bottom: 20px;

          -webkit-box-sizing: border-box;
          box-sizing: border-box;
        }
            .del-list-item {
              width: 11px;
              margin-right: 14px;
            }
                .button-delete {
                  position: relative;
                  padding: 0;

                  width: 11px;
                  height: 11px;
                  border: 0;
                  background-color: transparent;
                  cursor: pointer;
                }
                    .button-delete::before,
                    .button-delete::after {
                      position: absolute;
                      top: 5px;
                      left: 0;
                      height: 1px;
                      width: 11px;

                      content: "";
                      background-color: #535050;
                    }
                        .button-delete::before {
                          -webkit-transform: rotate(45deg);
                          -ms-transform: rotate(45deg);
                          transform: rotate(45deg);
                        }
                        .button-delete::after {
                          -webkit-transform: rotate(-45deg);
                          -ms-transform: rotate(-45deg);
                          transform: rotate(-45deg);
                        }
            .product-icon {
              width: 33px;
              height: 33px;
              margin-right: 14px;
            }
                .product-icon img {
                  width: 100%;
                  height: auto;
                  border-radius: 50%;
                }
            .product-name {
              width: 219px;
              margin-right: 30px;
            }
                .product-name a,
                .product-name a:visited {
                  font: inherit;
                  color: #323232;

                  border-bottom: none;
                }
                    .product-name a:hover,
                    .product-name a:focus,
                    .product-name a:active {
                      color: #e84d37;
                      border-bottom: 1px solid rgba(232, 77, 55, 0.3);
                    }
            .weight {
              width: 95px;
              margin-right: 29px
            }
                .weight .price {
                  color: #999999;
                }
            .product-cost {
              width: 68px;
            }
    .total-sum {
      font-family: "Roboto-bold", "Arial", sans-serif;
      font-size: 15px;
      line-height: 18px;

      margin: 14px 0;
    }
    .order-form .button-submit {
      font-family: "Roboto-bold", "Arial", sans-serif;
      font-size: 18px;
      line-height: 24px;

      padding: 10px 15px;
    }
/* Блок с телефоном в хедере */
.main-header .contacts {
  position: absolute;
  bottom: -48px;
  text-align: right;
  margin: 0;
  right: 27px;

  font-size: 14px;
  line-height: 16px;
}
    .main-header .contacts-phone {
      display: block;
      font-size: 22px;
      line-height: 24px;

      padding-top: 5px;
      text-decoration: none;
    }
/* Cлайдер ------------------------ */
.slider {
  position: relative;

  padding: 0 27px;
  margin-bottom: 40px;
}
    .slider-list {
      color: #fff;

      margin: 0 auto;
      padding: 0;

      list-style: none;
    }
        .slider-item {
          position: relative;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
        }
        .img-cont{
          position: absolute;
          top: -85px;
          left: 0;
          width: 100%;
          z-index: -1;
        }
            .slider-item img {
              display: block;
              margin: 0 auto;
            }
            .slider-item p {
              font-size: 60px;
              line-height: 60px;
              text-align: center;

              max-width: 700px;
              margin-top: 310px;
              margin-bottom: 30px;
            }
            .button-want-both {
              font-size: 32px;
              line-height: 44px;
              color: #fff;

              padding: 10px 40px;
            }
    .slider-controls {
      position: absolute;
      bottom: 25px;
    }
        .slider-controls button {
          width: 20px;
          height: 20px;
          border: 2px solid #fff;
          border-radius: 50%;
          background-color: transparent;

          cursor: pointer;
          outline: none;
        }
            .slider-controls button:hover,
            .slider-controls button:focus {
              border: 2px solid #fff;
              background-color: rgba(255, 255, 255, 0.4);
            }
            .slider-controls button.active {
              background-color: #fff;
            }
/* Баннеры ------------------- */
.banners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 27px;
}
    .banner{
      width: 560px;
      border-radius: 15px;
      background-repeat: no-repeat;
      background-position: -50px center;
      margin-bottom: 40px;
    }
        .left-banner {
          margin-right: auto;
          background-color: #5e0f1f;
          background-image: url("../img/paspberry.png");
        }
        .right-banner {
          background-color: #462b1f;
          background-image: url("../img/chocolate.png");
        }
            .banner .inner-container {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-direction: column;
              flex-direction: column;
              -webkit-box-align: start;
              -ms-flex-align: start;
              align-items: flex-start;

              font-size: 18px;
              line-height: 22px;
              color: #fff;

              background-color: transparent;
              padding: 15px 20px;
            }
                .banner h3 {
                  font-size: 35px;
                  line-height: 41px;

                  margin: 0;
                  margin-bottom: 16px;
                }
                .banner p {
                  display: block;
                  width: 520px;
                  margin: 0 auto;
                  margin-bottom: 45px;
                }
                .banner-button {
                  -ms-flex-item-align: end;
                  align-self: flex-end;
                  line-height: 24px;

                  padding: 10px 25px;
                }
/* Блок с хитами продаж ------------------ */
.products {
  padding: 0 14px;
  margin-bottom: 10px;
}
    .products-list {
      position: relative;

      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;

      margin: 0;
      padding: 0;

      list-style: none;
    }
        .product {
          position: relative;
          text-align: center;

          width: 267px;
          min-height: 390px;
          padding: 7px 13px;
          padding-bottom: 20px;
          margin-bottom: 10px;
        }
            .main-page .product::before {
             position: absolute;
             content: "";
             left: 0;

             width: 61px;
             height: 61px;
             background-image: url("../img/hit.svg");
             background-position: center center;
             background-repeat: no-repeat;
             z-index: 1;
            }
            .product:hover,
            .product:focus {
              border-radius: 5px;
              background-color: rgba(248, 247, 244, 0.2);

              -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);

              box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
            }
            .product:hover .fast-view-button {
              display: inline-block;
            }

            .img-price-wrap {
              position: relative;

              margin-bottom: 10px;
            }
                .product-photo {
                  border-radius: 50%;
                }
                .product-price {
                  position: absolute;
                  bottom: 20px;

                  font-family: "Roboto-bold", "Arial", sans-serif;
                  font-size: 45px;
                  line-height: 45px;
                  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);

                  margin: 0;
                }
                    .product-price .measure {
                      position: relative;

                      padding-left: 40px;
                      font-size: 30px;
                    }
                    .product-price .measure::before {
                      position: absolute;
                      left: 7px;
                      top: 0;

                      content: "";
                      width: 30px;
                      height: 36px;
                      background-image: url("../img/ruble.svg");
                    }
            .product-name-link {
              font-family: "Roboto-medium", "Arial", sans-serif;
              font-size: 16px;
              line-height: 22px;

              border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            }
            .product-name-link:hover,
            .product-name-link:focus,
            .product-name-link:active {
              color: #ffbc9e;
              border-color: rgba(255, 188, 158, 0.3);
            }
            .fast-view-button {
              font-family: "Roboto-bold", "Arial", sans-serif;
              font-size: 18px;
              line-height: 24px;
              color: #fefefe;

              padding: 10px 17px;
              margin-top: 14px;
            }
/* Блок преимуществ ---------------- */
.features {
  color: #000;

  max-width: 1146px;
  margin: 0 auto;
  margin-bottom: 40px;
  border-radius: 10px;
  background-image: url("../img/wafer.jpg");
}
    .features .inner-container {
      padding: 28px 20px;
      background-color: transparent;
    }
    .features-heading {
      font-family: "Roboto-medium", "Arial", sans-serif;
      font-size: 24px;
      line-height: 30px;
      color: #323232;

      margin: 0;
    }
    .features-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;

      font-family: "Roboto", "Arial", sans-serif;
      font-size: 16px;
      line-height: 22px;
      color: #323232;

      margin: 0;
      padding: 0;
      list-style: none;
    }
        .features-item {
          position: relative;

          max-width: 540px;
          margin-top: 15px;
        }
            .features-item-text {
              display: block;
              padding: 12px 0;
              padding-left: 56px;
              margin: 0;
            }
                .features-item-text::before {
                  position: absolute;

                  content: "";
                  top: 0;
                  left: 0;

                  width: 49px;
                  height: 49px;

                  background-repeat: no-repeat;
                  background-position: center center;
                }
                .ice-cream::before { background-image: url("../img/ice-cream.svg"); }
                .leaf::before { background-image: url("../img/leaf.svg"); }
                .cow::before { background-image: url("../img/cow.svg"); }
                .thermometer::before { background-image: url("../img/thermometer.svg"); }
/* Статья из блога + форма почтовой рассылки */
.blog-and-mailing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding: 0 27px;
  margin-bottom: 40px;
}
    .blog-note {
      color: #323232;

      width: 560px;
      min-height: 220px;
      margin-right: auto;
      border-radius: 10px;

      background-image: url("../img/strawberry-new-back.jpg");
      background-repeat: no-repeat;
      background-position: -25px -220px;
    }
        .blog-note .inner-container {
          padding: 22px 20px;
          background-color: transparent;
        }
            .blog-heading {
              font-family: "Roboto-medium", "Arial", sans-serif;
              font-size: 16px;
              line-height: 22px;

              margin: 0;
              margin-bottom: 5px;
            }
            .blog-and-mailing .blog-link {
              display: block;
              max-width: 300px;

              font-family: "Roboto-bold", "Arial", sans-serif;
              font-size: 24px;
              line-height: 30px;
              color: #323232;
              text-decoration: underline;
            }
                .blog-and-mailing .blog-link:hover,
                .blog-and-mailing .blog-link:focus,
                .blog-and-mailing .blog-link:active {
                  color: #e84d37;
                }
    /* Почтовая рассылка --------- */
    .mailing-form-container {
      font-family: "Roboto", "Arial", sans-serif;
      font-size: 16px;

      width: 560px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 5px;
      background-image: url("../img/post-backgr.svg");
      background-repeat: no-repeat;
    }
        .mailing-form-container .inner-container {
          width: 100%;
          height: 100%;

          padding: 28px 20px;
          border: 1px solid transparent;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          border-radius: 15px;

          background-color: #f8f7f4;
        }
            .mailing-form-container .container-text {
              line-height: 22px;
              color: #5a5a5a;

              margin: 0;
              margin-bottom: 35px;
            }
            .mailing-form {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: justify;
              -ms-flex-pack: justify;
              justify-content: space-between;

              line-height: 24px;
              color: #999999;
            }
                .mail-input {
                  margin-right: 10px;

                  -webkit-box-flex: 1;
                  -ms-flex-positive: 1;
                  flex-grow: 1;
                }
                .mailing-form .button-submit {
                  font-family: "Roboto-bold", "Arial", sans-serif;
                  font-size: 18px;
                  line-height: 24px;
                  color: #fefefe;

                  padding: 10px 20px;
                }
/* Карта и блок с контактами ------- */
.map-and-contacts {
  position: absolute;
  left: 0;
  width: 100%;
  height: 430px;

  text-align: center;
  margin-bottom: 20px;
}
.map-widget {
  position: absolute;
  width: 100%;
  z-index: 1;
}
    .map-container {
      position: relative;
      width: 1200px;
      margin: 0 auto;
    }
        /* указатель на карте */
        .map-container::before {
          position: absolute;

          content: "";
          width: 80px;
          height: 140px;
          top: 137px;
          left: 266px;

          background-image: url("../img/pin.svg");
          background-repeat: no-repeat;
          background-position: 0 0;
        }
        .contacts-list {
          position: absolute;
          top: 62px;
          right: 0;

          font-family: "Roboto", "Arial", sans-serif;
          font-size: 14px;
          line-height: 20px;
          color: #323232;
          text-align: left;

          max-width: 302px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          padding: 27px 25px 35px 25px;
          border-radius: 10px;
          margin-right: 27px;
          background-color: #fff;
          z-index: 2;
        }
            .contacts-list-address,
            .contacts-list-phone,
            .contacts-list-heading {
              margin: 0;
            }
                .contacts-list-address {
                  font-family: "Roboto-bold", "Arial", sans-serif;
                  font-size: 18px;
                  line-height: 24px;

                  margin-bottom: 17px;
                }
                    .contacts-list-phone .phone {
                      display: block;

                      font-family: "Roboto-bold", "Arial", sans-serif;
                      font-size: 18px;
                      line-height: 24px;

                      margin-top: 8px;
                    }
                    .contacts-list-phone .working-hours {
                      display: block;
                      margin-bottom: 20px;
                    }
            .show-feedback-form {
              font-family: "Roboto-bold", "Arial", sans-serif;
              font-size: 18px;
              line-height: 24px;
              color: #fefefe;

              padding: 10px 27px;
            }
    .feedback-form-overlay {
      position: fixed;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);

      z-index: 5;
    }
        .modal-feedback {
          position: absolute;
          top: 50%;
          left: 50%;

          width: 478px;
          min-height: 442px;
          -webkit-transform: translateX(-50%) translateY(-50%);
          -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
          padding: 15px 25px;
          border-radius: 10px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;

          z-index: 6;
        }
            .feedback-heading {
              font-family: "Roboto-medium", "Arial", sans-serif;
              font-size: 24px;
              line-height: 28px;
              color: #323232;
            }
            .feedback-form {
              position: relative;

              font-family: "Roboto", "Arial", sans-serif;
              font-size: 16px;
              line-height: 24px;
              color: #999999;
              text-align: left;

              background-color: #f8f7f4;
            }
                .feedback-heading {
                  margin-top: 0;
                }
                .feedback-form input::-webkit-input-placeholder,
                .feedback-form textarea::-webkit-input-placeholder {
                  font-family: "Roboto", "Arial", sans-serif;
                  font-size: 16px;
                  line-height: 24px;
                  color: #999999;
                  font-weight: normal;
                }
                .feedback-form input:-ms-input-placeholder,
                .feedback-form textarea:-ms-input-placeholder {
                  font-family: "Roboto", "Arial", sans-serif;
                  font-size: 16px;
                  line-height: 24px;
                  color: #999999;
                  font-weight: normal;
                }
                .feedback-form input::-moz-placeholder,
                .feedback-form textarea::-moz-placeholder {
                  font-family: "Roboto", "Arial", sans-serif;
                  font-size: 16px;
                  line-height: 24px;
                  color: #999999;
                  font-weight: normal;
                }
                .feedback-form input {
                  width: 265px;
                }
                .feedback-form textarea {
                  height: 152px;
                }
                .feedback-form input,
                .feedback-form textarea {
                  display: block;
                  color: #323232;
                  font-weight: bold;

                  margin-bottom: 20px;
                  border: 1px solid rgba(178, 178, 178, 0.52);
                  border-radius: 5px;
                }
                    .feedback-form .form-field:hover {
                      border: 1px solid rgba(154, 154, 154, 0.52);
                      -webkit-box-shadow: 0 0 0 1px rgba(154, 154, 154, 0.52);
                      box-shadow: 0 0 0 1px rgba(154, 154, 154, 0.52);
                    }
                    .feedback-form .form-field:focus {
                      border-color: rgba(46, 136, 228, 0.52);
                      -webkit-box-shadow: 0 0 0 1px rgba(46, 136, 228, 0.52);
                      box-shadow: 0 0 0 1px rgba(46, 136, 228, 0.52);
                      outline: none;
                    }
                .feedback-form .submit-form {
                  position: absolute;
                  right: 0;

                  font-family: "Roboto-bold", "Arial", sans-serif;
                  font-size: 18px;
                  line-height: 24px;

                  padding: 10px 25px;
                }
                .feedback-form .close-form {
                  position: absolute;
                  width: 18px;
                  height: 18px;
                  top: 0;
                  right: 0;
                  padding: 0;

                  display: inline-block;

                  background-color: transparent;
                  border: none;
                  cursor: pointer;
                }
                    .feedback-form .close-form::before,
                    .feedback-form .close-form::after {
                      position: absolute;
                      top: 8px;
                      left: -1px;
                      width: 20px;
                      height: 2px;
                      content: "";
                      background-color: #433f3f;
                    }
                        .feedback-form .close-form::before {
                          -webkit-transform: rotate(45deg);
                          -ms-transform: rotate(45deg);
                          transform: rotate(45deg);
                        }
                        .feedback-form .close-form::after {
                          -webkit-transform: rotate(-45deg);
                          -ms-transform: rotate(-45deg);
                          transform: rotate(-45deg);
                        }
.main-footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-pack: justify;

  padding: 0 27px 26px 27px;
}
.main-page .main-footer {
  padding: 20px 27px 26px 27px;
  margin-top: 470px;
}
    .social-sites-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      max-width: 295px;
      margin: 0;
      margin-right: auto;
      padding: 0;

      list-style: none;
    }
        .social-sites {
          margin-right: 10px;
          margin-bottom: 2px;
        }
        .social-sites,
        .social-sites:visited {
          display: block;
          width: 32px;
          height: 32px;
          border-radius: 50%;
          border: 2px solid rgba(255, 255, 255, 0.5);
          background-repeat: no-repeat;

          opacity: 0.8;
        }
            .social-sites:hover,
            .social-sites:focus { opacity: 1; }

            .social-sites:active { opacity: 0.9; }

            .twitter { background-image: url("../img/twitter.svg"); }
            .instagram { background-image: url("../img/instagram.svg"); }
            .fb { background-image: url("../img/fb.svg"); }
            .vk { background-image: url("../img/vk.svg"); }
    .footer-info {
      position: relative;

      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;

      width: 350px;
      margin: 0;
      padding-left: 25px;

      list-style: none;
    }
        .info-item {
          font-family: "Roboto", "Arial", sans-serif;
          font-size: 13px;
          line-height: 18px;
          color: #fff;

          min-width: 140px;
        }
        .info-item .for-suppliers {
          width: 140px;
          font-family: "Roboto-bold", "Arial", sans-serif;
        }
            .for-suppliers::before {
              position: absolute;

              content: "";
              top: 4px;
              left: 4px;
              width: 15px;
              height: 13px;

              background-image: url("../img/heart.svg");
              background-position: center center;
              background-repeat: no-repeat;
            }
        .info-item a {min-width: 140px;
          font: inherit;
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        }
            .info-item a:hover,
            .info-item a:focus,
            .info-item a:active {
              color: #ffbc9e;
              border-color: rgba(255, 188, 158, 0.3);
            }
    .copyright {
      font-family: "Roboto", "Arial", sans-serif;
      font-size: 12px;
      line-height: 18px;

      max-width: 205px;
      margin-left: auto;
    }
        .academy-logo {
          display: block;
          width: 120px;
          height: 39px;
          border: none;
        }
        .copyright-text {
          margin: 0;
        }
            .copyright-text a {
              font: inherit;
              border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            }
                .copyright-text a:hover,
                .copyright-text a:focus,
                .copyright-text a:active {
                  color: #ffbc9e;
                  border-color: rgba(255, 188, 158, 0.3);
                }
/* catalog-individual-style -----------------  */
.breadcrumbs {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #fff;

  margin: 0;
  margin-bottom: 5px;
  padding: 0 27px;

  list-style: none;
}
    .breadcrumbs li {
      display: inline-block;
      vertical-align: center;
    }
        .breadcrumbs a {
          font-family: "Roboto", "Arial", sans-serif;
          font-size: 14px;
          line-height: 16px;
          color: #fff;
        }
            .breadcrumbs a::after {
              content: "»";
              margin: 0 5px;
            }
                .breadcrumbs a:hover::after {
                  color: #fff;
                }
            .breadcrumbs a:hover,
            .breadcrumbs a:focus,
            .breadcrumbs a:active {
              color: #ffbc9e;
              border-color: rgba(255, 188, 158, 0.3);
            }

.sorting-and-heading {
  padding: 0 27px;
  margin-bottom: 40px;
}
    .catalog-main-content h1 {
      font-family: "Roboto-bold", "Arial", sans-serif;
      font-size: 35px;
      line-height: 41px;
      margin-top: 0;
    }
    .filters-form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;

      font-family: "Roboto-medium", "Arial", sans-serif;
      color: #fff;
    }
        .filters-form fieldset {
          border: none;
          padding: 0;
          margin: 0;
        }
        .filters-form input,
        .filters-form select,
        .button-filters-submit {
          font-family: "Roboto-medium", "Arial", sans-serif;
          font-size: 16px;
          line-height: 18px;
          color: #fff;

          cursor: pointer;
        }
            .filters-form select {
              border-color: transparent;
            }
        .fat-content-sort label:hover,
        .fillers-sort label:hover,
        .sort:hover {
          color: #323232;
        }
        .sort option {
          font-size: 14px;
          line-height: 16px;
          color: #323232;
        }
        .fields-container {
          margin-right: 15px;
        }
            .sort-field-heading {
              font-size: 14px;
              line-height: 16px;

              margin: 0;
              margin-bottom: 5px;
            }
            .filters-form .inner-container,
            .button-filters-submit {
              padding: 8px 16px;
              margin-bottom: 14px;
              border-radius: 50px;
              background-color: rgba(255, 255, 255, 0.2);
            }
            .button-filters-submit {
              padding: 7px 28px;
            }
            .inner-container.sort {
              padding: 5px 16px;
            }

        .price-range-sort .inner-container {
          padding: 8px 21px;
        }
            .price-range-wrap {
              height: 18px;
              border: 1px solid transparent;
            }
                .price-range-line {
                  position: relative;
                  top: 50%;
                  margin-top: -2px;

                  width: 176px;
                  height: 4px;

                  background-color: rgba(248, 247, 244, 0.5);
                }
                    .price-range-pin,
                    .price-range-val {
                      position: absolute;
                      top: 50%;
                      margin-top: -10px;
                      width: 4px;
                      height: 4px;

                      background-color: transparent;
                      border: 8px solid #fff;
                      border-radius: 50%;

                      cursor: pointer;
                    }
                        .price-range-pin {
                          left: 13px;
                        }
                        .price-range-val {
                          left: 110px;
                        }
                .price-range-value-line {
                  position: absolute;
                  width: 78px;
                  left: 32px;
                  height: 4px;
                  background-color: #fff;
                }
        .fat-content-sort label {
          position: relative;
          display: inline-block;
          vertical-align: middle;

          padding-left: 32px;
          margin-right: 20px;

          cursor: pointer;
        }
            .fat-content-sort label:last-of-type {
              margin-right: 0;
            }
        .fat-content-sort input[type="radio"] + label::before {
          position: absolute;
          top: 0;
          left: 0;

          display: inline-block;
          vertical-align: middle;
          content: "";
          width: 8px;
          height: 8px;

          border-radius: 50%;
          border: 4px solid #95ab9f;
          background-color: #95ab9f;
          -webkit-box-shadow: 0 0 0 4px rgba(249, 250, 249, 0.8);
          box-shadow: 0 0 0 4px rgba(249, 250, 249, 0.8);
        }
            .fat-content-sort input[type="radio"]:hover + label::before,
            .fat-content-sort input[type="radio"]:focus + label::before {
              -webkit-box-shadow: 0 0 0 4px rgba(249, 250, 249, 1);
              box-shadow: 0 0 0 4px rgba(249, 250, 249, 1);
            }
            .fat-content-sort input[type="radio"]:disabled + label::before {
              -webkit-box-shadow: 0 0 0 4px rgba(249, 250, 249, 0.4);
              box-shadow: 0 0 0 4px rgba(249, 250, 249, 0.4);
            }
            .fat-content-sort input[type="radio"]:checked + label::before {
              background-color: rgba(249, 250, 249, 0.8);
            }
                .fat-content-sort input[type="radio"]:checked:hover + label::before,
                .fat-content-sort input[type="radio"]:checked:focus + label::before {
                  background-color: rgba(249, 250, 249, 1);
                }
                .fat-content-sort input[type="radio"]:checked:disabled + label::before {
                  background-color: rgba(249, 250, 249, 0.4);
                }
        .fillers-sort input[type="checkbox"] + label {
          position: relative;

          padding-left: 32px;
          margin-right: 20px;
        }
            .fillers-sort label:last-of-type {
              margin-right: 0;
            }
            .fillers-sort input[type="checkbox"] + label::before {
              position: absolute;
              display: inline-block;

              content: "";
              width: 24px;
              height: 20px;
              left: 0;
              vertical-align: middle;

              background-image: url("../img/checkbox-off.png");
              background-position: 0 0;
              background-repeat: no-repeat;
            }
                .fillers-sort input[type="checkbox"]:hover + label::before,
                .fillers-sort input[type="checkbox"]:focus + label::before {
                  background-image: url("../img/checkbox-off-hover.png");
                }
                .fillers-sort input[type="checkbox"]:disabled + label::before {
                  background-image: url("../img/checkbox-off-disabled.png");
                }
                .fillers-sort input[type="checkbox"]:checked + label::before {
                  background-image: url("../img/checkbox-on.svg");
                  background-size: contain;
                }
                    .fillers-sort input[type="checkbox"]:checked:hover + label::before,
                    .fillers-sort input[type="checkbox"]:checked:focus + label::before {
                      background-image: url("../img/checkbox-on-hover.svg");
                    }
                    .fillers-sort input[type="checkbox"]:checked:disabled + label::before {
                      background-image: url("../img/checkbox-on-disabled.svg");
                    }
        .button-filters-submit {
          border: 2px solid #fff;
          cursor: pointer;
        }
            .button-filters-submit:hover {
              color: #323232;
              background-color: #fff;
            }
            .button-filters-submit:active {
              color: #000;
              background-color: rgba(247, 246, 243, 0.99);
              -webkit-box-shadow: inset 0 2px 1px #696969;
              box-shadow: inset 0 2px 1px #696969;
              border-color: transparent;
            }
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  list-style: none;
}
    .pagination li {
      margin-right: 3px;
    }
    .pagination-item {
      display: inline-block;

      font-family: "Roboto-medium", "Arial", sans-serif;
      font-size: 16px;
      line-height: 18px;

      text-align: center;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: none;
    }
        .pagination-item:hover,
        .pagination-item:focus {
          background-color: rgba(255, 255, 255, 0.2);
        }
        .pagination-item.current,
        .pagination-item:active {
          color: #353535;
          background-color: #fff;
        }
        .pagination-item span {
          position: relative;
          top: 3px;
        }
    .pagination a {
      cursor: pointer;
    }
    .pagination .next-page,
    .pagination .previous-page {
      display: inline-block;

      width: 9px;
      height: 14px;
      background-image: url("../img/arrow-right.png");
    }
        .pagination .next-page {
          margin-left: 15px;
        }
        .pagination .previous-page {
          margin-right: 15px;
          -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          transform: rotate(180deg);
        }
    .pagination .disabled {
      opacity: 0.2;
    }

.hidden {
  display: none;
}
