@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
      url("../fonts/roboto-regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto-bold";
  src: local("Roboto-Bold"),
  url("../fonts/roboto-bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto-medium";
  src: local("Roboto-Medium"),
  url("../fonts/roboto-medium.woff2") format("woff2");
  font-weight: 500;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
body {
  font-family: "Roboto-bold", "Arial", sans-serif;
  color: #fff;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: #849d8f;
}
a,
a:visited {
  font-family: "Roboto-medium", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
  /*border-bottom: 1px solid rgba(255, 255, 255, 0.2);*/
}
/*.hidden {*/
  /*display: none;*/
/*}*/
.button {
  display: inline-block;

  text-align: center;
  color: #fff;

  background-color: #e74a35;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  border: 0;
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}
    .button:hover,
    .button:focus {
      background-color: #fff;
      background-image: linear-gradient(to top, rgba(231, 74, 53, 0.8), rgba(242, 104, 67, 0.8));
      box-shadow: 0 2px 2px #ac1000;
      cursor: pointer;
    }
    .button:active {
      background-color: #000;
      background-image: linear-gradient(to top, rgba(231, 74, 53, 0.93), rgba(242, 104, 67, 0.93));
      box-shadow: inset 0 2px 2px #ac1000;
    }
.modal {
  font-family: "Roboto", "Arial", sans-serif;
  color: #323232;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}
    .modal :focus::-webkit-input-placeholder,
    .mailing-form :focus::-webkit-input-placeholder {color: transparent;}
    .modal :focus::-moz-placeholder,
    .mailing-form :focus::-moz-placeholder {color: transparent;}
    .modal :focus:-moz-placeholder,
    .mailing-form :focus:-moz-placeholder {color: transparent;}
    .modal :focus:-ms-input-placeholder,
    .mailing-form :focus:-ms-input-placeholder {color: transparent;}

.main-header {
  padding: 10px 27px 0 27px;
  margin-bottom: 8px;
}
    .main-header .menu-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .main-menu {
      display: flex;
      align-items: center;
      max-width: 727px;
    }
        .main-page-logo {
          width: 154px;
          align-self: flex-start;
          margin-right: 24px;
        }
        .main-menu ul {
          margin: 0;
          padding: 0;
          list-style: none;
        }
        .site-menu {
          display: flex;
          flex-wrap: wrap;
        }
        .site-menu .active {
          background-color: #d07058;
        }
            .site-menu:active {
              box-shadow: 0 2px 1px #696969;
            }
            .site-menu-item {
              position: relative;
            }
            .site-menu-item > a,
            .site-menu-item > a:visited {
              font-size: 16px;
              line-height: 18px;

              text-decoration: underline;
              outline: none;
              padding: 7px 15px;
              border-radius: 17px;
            }
                .site-menu-item > a:hover,
                .site-menu-item > a:focus {
                  color: #000;

                  padding: 7px 15px;
                  background-color: #f5f4f1;
                  text-decoration: none;
                }
                .site-menu-item > a:active {
                  color: #000;
                  background-color: rgba(247, 246, 243, 0.99);
                  box-shadow: inset 0 2px 1px #696969;
                }
                .site-menu-item a.active {
                  background-color: #d07058;
                  color: #fff;
                }
            .drop-down-menu {
              position: absolute;
              top: 35px;
              left: -10px;

              min-width: 143px;
              border-radius: 5px;
              background-color: #f8f7f4;
            }
                .drop-down-menu .novelties{
                  font-family: "Roboto-bold", "Arial", sans-serif;
                }
                .drop-down-menu a,
                .drop-down-menu a:visited {
                  display: block;

                  font-family: "Roboto", "Arial", sans-serif;
                  font-size: 14px;
                  line-height: 16px;
                  color: #000;

                  padding: 6px 20px;
                  margin: 3px 0;
                }
                .drop-down-menu a:hover,
                .drop-down-menu a:focus {
                  display: block;
                  background-color: #fbded7;
                  color: #000;

                  padding: 6px 20px;
                }
                .drop-down-menu a:active {
                  background-color: #f6b5a5;
                  color: #000;
                }
                .drop-down-menu a.active {
                  background-color: #d07058;
                  color: #fff;
                }
    .user-interface {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      max-width: 300px;
    }
        .user-interface > a,
        .user-interface > a:visited {
          position: relative;

          font-family: "Roboto-medium", "Arial", sans-serif;
          font-size: 14px;
          line-height: 16px;
          color: #fff;

          margin-right: 10px;
          padding: 8px 15px;
          padding-left: 43px;
          border-radius: 15px;
          background-color: rgba(255, 255, 255, 0.2);
          outline: none;
        }
            .user-interface > a:last-of-type {
              margin-right: 0;
            }
            .user-interface > a:hover,
            .user-interface > a:focus {
              color: #000;
              background-color: #f8f7f4;
            }
            a.shopping-cart.cart-filled {
              color: #323232;
              background-color: rgba(255, 255, 255, 0.99);
            }
        .user-interface .search {
          width: 32px;
          height: 32px;
          padding: 0;
          border-radius: 50%;
          background-color: rgba(255, 255, 255, 0.2);
          background-image: url("../img/loop.svg");
          background-position: center center;
          background-repeat: no-repeat;
        }
          .user-interface .search:hover,
          .user-interface .search:focus {
            background-image: url("../img/loop-hover.svg");
          }
        .user-interface .log-in::before {
          position: absolute;
          top: 50%;
          margin-top:-10px;
          left: 16px;

          content: "";
          width: 21px;
          height: 19px;
          background-image: url("../img/enter.svg");
          background-position: 0 0;
          background-repeat: no-repeat;
        }
          .user-interface .log-in:hover::before,
          .user-interface .log-in:focus::before {
            background-image: url("../img/enter-hover.svg");
          }
        .user-interface .shopping-cart::before {
          position: absolute;
          top: 50%;
          margin-top:-10px;
          left: 16px;

          content: "";
          width: 21px;
          height: 19px;
          background-image: url("../img/cart.svg");
          background-position: 0 0;
          background-repeat: no-repeat;
        }
        .hidden {
          display: none;
        }
        .user-interface .contacts {
          position: absolute;
          top: 35px;
          text-align: right;
          right: 0;

          font-size: 14px;
          line-height: 16px;
        }
        .user-interface .contacts-phone {
          display: block;
          font-size: 22px;
          line-height: 24px;

          padding-top: 5px;
        }
            .user-interface .shopping-cart:hover::before,
            .user-interface .shopping-cart:focus::before {
              background-image: url("../img/cart-hover.svg");
            }
                .user-interface input::-webkit-input-placeholder {
                  font-family: "Roboto", "Arial", sans-serif;
                  font-size: 14px;
                  line-height: 24px;
                  color: #999999;
                }
                .user-interface input {
                  font-family: "Roboto-bold", "Arial", sans-serif;
                  color: #323232;
                  border: 1px solid #d3d3d2;
                }
                    .user-interface input:hover,
                    .user-interface textarea:hover {
                      border: 1px solid rgba(154, 154, 154, 0.52);
                      outline: 1px solid rgba(154, 154, 154, 0.52);
                    }
                    .user-interface textarea:focus,
                    .user-interface input:focus {
                      border-color: rgba(46, 136, 228, 0.52);
                      box-shadow: 0 0 0 1px rgba(46, 136, 228, 0.52);
                      outline: none;
                    }
                .log-in-form a,
                .log-in-form a:visited {
                  font-size: 13px;
                  line-height: 24px;
                  color: #323232;
                  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
                }
                    .log-in-form a:hover,
                    .log-in-form a:focus,
                    .log-in-form a:active {
                      color: #e84d37;
                      border-bottom: 1px solid rgba(232, 77, 55, 0.3);
                    }
                .log-in-form .button-submit {
                  font-family: "Roboto-bold", "Arial", sans-serif;
                  font-size: 18px;
                  line-height: 24px;
                }
                .order-form .button-submit {
                  font-family: "Roboto-bold", "Arial", sans-serif;
                  font-size: 18px;
                  line-height: 24px;
                }
                    .button-delete {
                      width: 11px;
                      height: 11px;
                      border: none;
                      background-color: transparent;
                      background-image: url("../img/close-cross.svg");
                      background-repeat: no-repeat;
                      cursor: pointer;
                    }
                        .button-delete:hover {
                          background-color: #fbded7;
                        }
                    .order-list,
                    .order-list a {
                      font-size: 13px;
                      line-height: 16px;
                      color: #323232;
                    }
                        .order-list a {
                          border-bottom: none;
                        }
                        .order-list a:hover,
                        .order-list a:focus,
                        .order-list a:active {
                          color: #e84d37;
                          border-bottom: 1px solid rgba(232, 77, 55, 0.3);
                        }
                        .order-list .price {
                          color: #999999;
                        }
                        .order-list .total-sum {
                          font-family: "Roboto-bold", "Arial", sans-serif;
                          font-size: 15px;
                          line-height: 18px;
                        }
.slider {
  position: relative;

  padding: 0 27px;
  margin-bottom: 40px;
}
    .slider-list {
      color: #fff;

      margin: 0 auto;
      padding: 0;

      list-style: none;
    }
        .slider-item {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
            .slider-item img {
              position: absolute;

              top: -85px;
              left: 50%;

              transform: translateX(-50%);
              z-index: -1;
            }
            .slider-item p {
              font-size: 60px;
              line-height: 60px;
              text-align: center;

              max-width: 700px;
              margin-top: 310px;
              margin-bottom: 30px;
            }
            .hidden {
              display: none;
            }
                .button-want-both {
                  font-size: 32px;
                  line-height: 44px;
                  color: #fff;

                  padding: 10px 40px;
                }
    .slider-controls {
      position: absolute;
      bottom: 25px;
    }
        .slider-controls button {
          width: 20px;
          height: 20px;
          border: 2px solid #fff;
          border-radius: 50%;
          background-color: transparent;
        }
            .slider-controls button:hover,
            .slider-controls button:focus {
              border: 2px solid #fff;
              background-color: rgba(255, 255, 255, 0.4);
            }
            .slider-controls button.active {
              background-color: #fff;
            }
.banners {
  display: flex;
  justify-content: space-between;
  /*flex-wrap: wrap;*/
  padding: 0 27px;
  margin-bottom: 40px;
}
    .banner{
      width: 560px;
      border-radius: 15px;
      background-repeat: no-repeat;
      background-position: -50px center;
    }
        .banner .inner-container {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          font-size: 18px;
          line-height: 22px;
          color: #fff;

          background-color: transparent;
          padding: 15px 20px;
        }
            .banner h3 {
              font-size: 35px;
              line-height: 41px;

              margin: 0;
              margin-bottom: 16px;
            }
            .banner p {
              margin: 0;
              margin-bottom: 45px;
            }
            .banner-button {
              align-self: flex-end;
              line-height: 24px;

              padding: 10px 25px;
            }
                .left-banner {
                  background-color: #5e0f1f;
                  background-image: url("../img/paspberry.png");
                }
                .right-banner {
                  background-color: #462b1f;
                  background-image: url("../img/chocolate.png");
                }
.products {
  padding: 0 27px;
  margin-bottom: 40px;
}
    .products-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      margin: 0;
      padding: 0;

      list-style: none;
    }
        .product {
          position: relative;

          text-align: center;
          max-width: 267px;
        }
        .product:hover {
          background-color: rgba(248, 247, 244, 0.2);
        }
        .product:hover .fast-view-button {
          display: inline-block;
        }
            .product::before {
              position: absolute;
              content: "";
              left: 0;

              width: 61px;
              height: 61px;
              background-image: url("../img/hit.svg");
              background-position: center center;
              background-repeat: no-repeat;
              z-index: 1;
            }
            .img-price-wrap {
              position: relative;

              margin-bottom: 10px;
            }
            .product-photo {
              border-radius: 50%;
            }
            .product-price {
              position: absolute;
              bottom: 20px;

              font-family: "Roboto-bold", "Arial", sans-serif;
              font-size: 45px;
              line-height: 45px;
              text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);

              margin: 0;
            }
                .product-price .measure {
                  font-size: 30px;
                }
            .fast-view-button {
              font-family: "Roboto-bold", "Arial", sans-serif;
              font-size: 18px;
              line-height: 24px;
              color: #fefefe;
            }
            .product a.product-name-link {
              font-family: "Roboto-medium", "Arial", sans-serif;
              font-size: 16px;
              line-height: 22px;
            }
            .product-name-link:hover,
            .product-name-link:focus,
            .product-name-link:active {
              color: #ffbc9e;
              border-color: rgba(255, 188, 158, 0.3);
            }
.features {
  color: #000;
  max-width: 1146px;
  margin: 0 auto;
  margin-bottom: 40px;
  border-radius: 10px;
  background-image: url("../img/wafer.jpg");
}
    .features .inner-container {
      padding: 28px 20px;
      background-color: transparent;
    }
        .features-heading {
          font-family: "Roboto-medium", "Arial", sans-serif;
          font-size: 24px;
          line-height: 30px;
          color: #323232;

          margin: 0;
        }
        .features-list {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          font-family: "Roboto", "Arial", sans-serif;
          font-size: 16px;
          line-height: 22px;
          color: #323232;

          margin: 0;
          padding: 0;
          list-style: none;
        }
            .features-item {
              position: relative;

              max-width: 540px;
              margin-top: 12px;
            }
                .features-item-text {
                  margin: 12px 0;
                  padding-left: 56px;
                }
                .features-item-text::before {
                  position: absolute;

                  content: "";
                  top: 0;
                  left: 0;

                  width: 49px;
                  height: 49px;

                  background-repeat: no-repeat;
                  background-position: center center;
                }
                    .ice-cream::before {
                      background-image: url("../img/ice-cream.svg");
                    }
                    .leaf::before {
                      background-image: url("../img/leaf.svg");
                    }
                    .cow::before {
                      background-image: url("../img/cow.svg");
                    }
                    .thermometer::before {
                      background-image: url("../img/thermometer.svg");
                    }
.blog-and-mailing {
  display: flex;
  padding: 0 27px;
  margin-bottom: 40px;
}
    .blog-note {
      color: #323232;

      width: 560px;
      min-height: 220px;
      margin-right: auto;
      border-radius: 10px;

      background-image: url("../img/strawberry-new-back.jpg");
      background-repeat: no-repeat;
      background-position: -25px -220px;
    }
        .blog-note .inner-container {
          padding: 22px 20px;
          background-color: transparent;
        }
            .blog-heading {
              font-family: "Roboto-medium", "Arial", sans-serif;
              font-size: 16px;
              line-height: 22px;

              margin: 0;
              margin-bottom: 5px;
            }
            a.blog-link {
              display: block;
              max-width: 300px;

              font-family: "Roboto-bold", "Arial", sans-serif;
              font-size: 24px;
              line-height: 30px;
              color: #323232;
              text-decoration: underline;
            }
                a.blog-link:hover,
                a.blog-link:focus,
                a.blog-link:active {
                  color: #e84d37;
                }
    .mailing-form-container {
      font-family: "Roboto", "Arial", sans-serif;
      font-size: 16px;

      width: 560px;
      box-sizing: border-box;
      padding: 5px;
      background-image: url("../img/post-backgr.svg");
      background-repeat: no-repeat;
    }
        .mailing-form-container .inner-container {
          width: 100%;
          height: 100%;

          padding: 28px 20px;
          border: 1px solid transparent;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          border-radius: 15px;


          background-color: #f8f7f4;
        }
            .container-text {
              line-height: 22px;
              color: #5a5a5a;

              margin: 0;
              margin-bottom: 35px;
            }
            .mailing-form {
              display: flex;
              justify-content: space-between;

              line-height: 24px;
              color: #999999;
            }
                .mail-input {
                  margin-right: 10px;
                  flex-grow: 1;
                }
                .mailing-form .mail-input::-webkit-input-placeholder {
                   font-family: "Roboto", "Arial", sans-serif;
                   font-size: 14px;
                   line-height: 24px;
                   color: #999999;
                }
                    .mailing-form input {
                      font-family: "Roboto-bold", "Arial", sans-serif;
                      color: #323232;
                      border: 1px solid rgba(178, 178, 178, 0.52);
                    }
                        .mailing-form input:hover {
                          border: 1px solid rgba(154, 154, 154, 0.52);
                          outline: 1px solid rgba(154, 154, 154, 0.52);
                        }
                        .mailing-form input:focus {
                          border-color: rgba(46, 136, 228, 0.52);
                          box-shadow: 0 0 0 1px rgba(46, 136, 228, 0.52);
                          outline: none;
                        }
                .mailing-form .button-submit {
                  font-family: "Roboto-bold", "Arial", sans-serif;
                  font-size: 18px;
                  line-height: 24px;
                  color: #fefefe;

                  padding: 10px 20px;
                }
.contacts {
  position: relative;

  margin-bottom: 20px;
}
    .map-container::before {
      position: absolute;

      content: "";
      width: 80px;
      height: 140px;
      top: 137px;
      left: 266px;

      background-image: url("../img/pin.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
    .contacts-list {
      position: absolute;
      top: 62px;
      right: 0;

      font-family: "Roboto", "Arial", sans-serif;
      font-size: 14px;
      line-height: 20px;
      color: #323232;

      max-width: 302px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 27px 25px 35px 25px;
      border-radius: 10px;
      margin-right: 27px;
      background-color: #fff;
    }
        .contacts-list-address,
        .contacts-list-phone,
        .contacts-list-heading {
          margin: 0;
        }
        .contacts-list-address {
          margin-bottom: 17px;
        }

        .contacts-list-address,
        .contacts-list-phone .phone {
          font-family: "Roboto-bold", "Arial", sans-serif;
          font-size: 18px;
          line-height: 24px;
        }
          .contacts-list-phone .phone {
            display: block;
            margin-top: 8px;
          }
          .contacts-list-phone .working-hours {
            display: block;
            margin-bottom: 20px;
          }
        .show-feedback-form {
          font-family: "Roboto-bold", "Arial", sans-serif;
          font-size: 18px;
          line-height: 24px;
          color: #fefefe;

          padding: 10px 27px;
        }
    .feedback-form-overlay {
      background-color: rgba(0, 0, 0, 0.3);
    }
        .feedback-form {
          font-family: "Roboto", "Arial", sans-serif;
          font-size: 16px;
          line-height: 24px;
          color: #999999;
          background-color: #f8f7f4;
        }
            .feedback-form input::-webkit-input-placeholder,
            .feedback-form textarea::-webkit-input-placeholder {
              font-family: "Roboto", "Arial", sans-serif;
              font-size: 16px;
              line-height: 24px;
              color: #999999;
            }
            .feedback-form input,
            .feedback-form textarea {
              font-family: "Roboto-bold", "Arial", sans-serif;
              color: #323232;
              border: 1px solid rgba(178, 178, 178, 0.52);
            }
                .feedback-form input:hover {
                  border: 1px solid rgba(154, 154, 154, 0.52);
                  outline: 1px solid rgba(154, 154, 154, 0.52);
                }
                .feedback-form input:focus {
                  border-color: rgba(46, 136, 228, 0.52);
                  box-shadow: 0 0 0 1px rgba(46, 136, 228, 0.52);
                  outline: none;
                }
            .feedback-form .submit-form {
              font-family: "Roboto-bold", "Arial", sans-serif;
              font-size: 18px;
              line-height: 24px;
            }
            .feedback-form .close-form {
              width: 18px;
              height: 17px;
              background-color: transparent;
              background-image: url("../img/close-cross.svg");
              background-size: contain;
              background-repeat: no-repeat;
              border: none;
              box-shadow: none;
            }
                .feedback-form .close-form:hover {
                  background-color: #fbded7;
                }
        .feedback-heading {
          font-family: "Roboto-medium", "Arial", sans-serif;
          font-size: 24px;
          line-height: 28px;
          color: #323232;
        }
.main-footer {
  display: flex;
  align-items: flex-end;
  padding: 0 27px 26px 27px;
}
    .social-sites-list {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;
      margin-right: auto;
    }
        .social-sites {
          margin-right: 10px;
        }
    .footer-info {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
        .footer-info-column {
          list-style: none;
          margin: 0;
          margin-right: 25px;
          padding: 0;
        }
            .footer-info-column:first-child {
              position: relative;

              padding-left: 20px;
            }
            .for-suppliers::before {
              position: absolute;

              content: "";
              top: 3px;
              left: 0;
              width: 15px;
              height: 13px;

              background-image: url("../img/heart.svg");
              background-position: center center;
              background-repeat: no-repeat;
            }
        .social-sites,
        .social-sites:visited {
          display: block;
          width: 32px;
          height: 32px;
          border-radius: 50%;
          border: 2px solid rgba(255, 255, 255, 0.5);
          background-repeat: no-repeat;
          opacity: 0.8;
        }
            .social-sites:hover,
            .social-sites:focus {
              opacity: 1;
            }
            .social-sites:active {
              opacity: 0.9;
            }
            .twitter {
              background-image: url("../img/twitter.svg");
            }
            .instagram {
              background-image: url("../img/instagram.svg");
            }
            .fb {
              background-image: url("../img/fb.svg");
            }
            .vk {
              background-image: url("../img/vk.svg");
            }
    .info-item a {
      font-family: "Roboto", "Arial", sans-serif;
      font-size: 13px;
      line-height: 18px;
      color: #fff;
    }
        a.for-suppliers {
          font-family: "Roboto-bold", "Arial", sans-serif;
        }
        .info-item a:hover,
        .info-item a:focus,
        .info-item a:active,
        a.for-suppliers:hover,
        a.for-suppliers:focus,
        a.for-suppliers:active {
          color: #ffbc9e;
          border-color: rgba(255, 188, 158, 0.3);
        }
    .copyright {
      max-width: 205px;
      margin-left: auto;
    }
        .academy-logo {
          display: block;
          width: 120px;
          height: 39px;
          border: none;
        }
        .copyright-text {
          margin: 0;
        }
        .copyright-text,
        .copyright-text a {
          font-family: "Roboto", "Arial", sans-serif;
          font-size: 12px;
          line-height: 18px;
        }
            .copyright-text a:hover,
            .copyright-text a:focus,
            .copyright-text a:active {
              color: #ffbc9e;
              border-bottom: 1px solid rgba(255, 188, 158, 0.3);
            }
/* catalog-individual-style */

.catalog-logo {
  border: none;
}
.breadcrumbs {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  margin: 0;
  margin-bottom: 5px;
  padding: 0 27px;
  list-style: none;
}
    .breadcrumbs a {
      font-family: "Roboto", "Arial", sans-serif;
      font-size: 14px;
      line-height: 16px;
      color: #fff;
    }
    .breadcrumbs a:hover,
    .breadcrumbs a:focus,
    .breadcrumbs a:active {
      color: #ffbc9e;
      border-color: rgba(255, 188, 158, 0.3);
    }
.sorting-and-heading {
  padding: 0 27px;
  margin-bottom: 40px;
}
    .creamy h1 {
      font-family: "Roboto-bold", "Arial", sans-serif;
      font-size: 35px;
      line-height: 41px;
      margin-top: 0;
    }
    .filters-form {
      font-family: "Roboto-medium", "Arial", sans-serif;
      color: #fff;
    }
        .sort-field-heading {
          font-size: 14px;
          line-height: 16px;
        }
        .filters-form .inner-container,
        .button-filters-submit {
          background-color: rgba(255, 255, 255, 0.2);
        }
            .filters-form fieldset {
              border: none;
            }
            .filters-form input,
            .filters-form select,
            .button-filters-submit {
              font-family: "Roboto-medium", "Arial", sans-serif;
              font-size: 16px;
              line-height: 18px;
              color: #fff;
            }
                .fat-content-sort label:hover,
                .fillers-sort label:hover,
                .sort:hover {
                  color: #323232;
                }
                .sort option {
                  font-size: 14px;
                  line-height: 16px;
                  color: #323232;
                }
        .button-filters-submit {
          border: 2px solid #fff;
        }
            .button-filters-submit:hover {
              color: #323232;
              background-color: #fff;
            }
            .button-filters-submit:active {
              color: #000;
              background-color: rgba(247, 246, 243, 0.99);
              box-shadow: inset 0 2px 1px #696969;
              border-color: transparent;
            }
.catalog-page .product {
  margin-bottom: 35px;
}
.pagination {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
}
.pagination-item a {
  display: inline-block;
  text-align: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
}
    .pagination-item a:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
    .pagination-item.current a,
    .pagination-item:active a {
      font-family: "Roboto-medium", "Arial", sans-serif;
      font-size: 16px;
      line-height: 18px;
      color: #353535;
      background-color: #fff;
      cursor: pointer;
    }
    .vertical-centering {
      vertical-align: middle;
    }





